# Exploring NYC Public School Test Result Scores

In [11]:
import pandas as pd

In [12]:
schools = pd.read_csv("schools.csv")

In [13]:
schools.head()

                                         school_name  ... percent_tested
0  New Explorations into Science, Technology and ...  ...            NaN
1                               Essex Street Academy  ...           78.9
2                       Lower Manhattan Arts Academy  ...           65.1
3    High School for Dual Language and Asian Studies  ...           95.9
4      Henry Street School for International Studies  ...           59.7

[5 rows x 7 columns]

## Finding schools with the best math scores

In [14]:
best_math_schools = schools[schools["average_math"] >= 640][["school_name", "average_math"]].sort_values("average_math", ascending=False)

In [15]:
schools["total_SAT"] = schools["average_math"] + schools["average_reading"] + schools["average_writing"]

## Identify the top 10 performing schools

In [16]:
top_10_schools = schools.sort_values("total_SAT", ascending=False)[["school_name", "total_SAT"]].head(10)

## Locating the NYC borough with the largest standard deviation in SAT performance

In [17]:
boroughs = schools.groupby("borough")["total_SAT"].agg(["count", "mean", "std"]).round(2)

In [18]:
largest_std_dev = boroughs[boroughs["std"] == boroughs["std"].max()]

In [19]:
largest_std_dev = largest_std_dev.rename(columns={"count": "num_schools", "mean": "average_SAT", "std": "std_SAT"})

In [20]:
largest_std_dev.reset_index(inplace=True)